@require "base"

.main
  position: fixed;
  overflow: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 30%;

  .subscriptions
    text-align:center
  .subscriptions > li
    display:inline-block
  
    .group 
      position: relative
      min-width: 200px
      //height: 150px
    //  > li
    //    width: 200px
    //    position:absolute
    //    top: 0
    //    height: 150px
    //  &:hover
    //    height: 140px
    //    z-index: 1
    //    li + li:hover:before
    //      content:''
    //      position:fixed;
    //      top:0
    //      bottom:0
    //      left:0
    //      right:0
    //      background: rgba(0, 0, 0, 0.5)
    //      pointer-events:none
    //  &:hover > li
    //    position:relative
    //    z-index: 1

  .subscriptions > li article
    //max-width: 90%
    box-shadow: 0 0 10px #888
    //margin: 10px auto
    text-align: left
    position: relative

    &:after
      padding-top:0.75%

    img
      height: 100%
      display: inline-block
      width: 100%

    .content
      position: absolute
      bottom: 0
      left: 0
      right: 0
      display: block
      padding: 5px;
      background: rgba(0, 0, 0, 0.7)
      color:white;
      box-shadow: 0 -3px 10px -2px #000
      opacity: 0.3
      transition: opacity 0.2s
    &:hover .content
      opacity: 1

      //.pubDate
      //  position: absolute
      //  right: 0
      //  top: 0

      //.channelTitle
      //  position: absolute
      //  right: 0
      //  bottom: 0
      //  background: rgba(255,255,255, 0.8)
      //  padding-left: 5px
    *
      text-align: left
  .pre
    white-space: pre-wrap

.playlist
  position:fixed
  right: 0
  top: 0
  bottom: 0
  overflow:auto
  width: 30%
  box-shadow: 0 0 10px #888

  > h2
    border-bottom: 1px solid #ddd
    padding-bottom: 10px

  .items > li
    position:relative
  .items > li > div
    height: 80px
    border-bottom: 1px solid #ddd
    cursor:move
    background: white
    &:hover
      background: #eee

    *
      text-align: left

    .img, .content
      display:inline-block
    .img
      height: 80px
      width: calc(106.67px)
      background: #eee
      img
        width:100%
    .content
      width: calc(100% - 116.67px)
      margin-left: 10px
      h3
        margin-top: 5px
        font-size: 1.1em
      p
        margin-top: 10px

